
{% extends 'base.html' %}

{% block content %}

    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <h3>
                Busqueda de Operaciones
            </h3>

            <form class="pure-form">
                <fieldset>
                    <input type="text" id="txtBuscar" name="txtBuscar" placeholder="Buscar Item" />
                    <button type="submit" class="pure-button pure-button-primary">Buscar</button>

                    &nbsp;&nbsp;&nbsp;

                    <button type="button" class="pure-button pure-button" onclick="IrOperacionNueva()">Nueva Operacion</button>
                </fieldset>
            </form>  

        </div>
        <div class="pure-u-1-5"></div>
    </div>

    <br>
    <br>
    <br>

    <div class="pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-22-24">
            <table class="pure-table pure-table-striped ">
                <thead>
                    <tr>

                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>

                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Total</th>

                        <th>Editar</th>
                    </tr>

                </thead>
                <tbody>
                    
                    {% for resultado in resultados %}
                        <tr>
                            <td>{{resultado.fecha }}</td>
                            <td>{{resultado.cliente.upper }}</td>
                            <td>{{resultado.total }}</td>
                            <td>
                                <a href="/stockeditar/{{resultado.pk}} ">Editar</a></p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pure-u-1-24"></div>
    </div>
     
        
{% endblock %}


{% block customjs %}

    <script>

        function IrOperacionNueva() {
            window.location.replace("/operacionnueva");

        }
    </script>

{% endblock %}