{% extends 'base.html' %}

{% block content %}

    <div class="pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-22-24">
            <h3 align="center">
                Detalle Operacion
            </h3>


            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <div class="pure-g">


                        <div class="pure-u-1 pure-u-md-1-3">
                            <label for="txtCodigoBarra">Codigo de Barra</label>
                            <input type="text" id="txtCodigoBarra" class="pure-u-23-24" />
                        </div>
                        
                        <div class="pure-u-1 pure-u-md-1-3">
                            <label for="txtCantidad">Cantidad</label>
                            <input type="text" id="txtCantidad" class="pure-u-23-24" />
                        </div>
                        
                    </div>

                    <div class="pure-g">

                        <div class="pure-u-1 pure-u-md-1-3">
                        </div>

                        <div class="pure-u-1 pure-u-md-1-3">
                            <table id="tblOperacion" class="pure-table">
                                <thead>
                                    <tr>
                                        <th>Descripcion</th>
                                        <th>Unidad</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Subtotal</th>
                                        <th>Quitar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="pure-u-1 pure-u-md-1-3">
                        </div>

                    </div>

                    <br>
                    <br>
                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <button type="button" class="pure-button pure-button-primary" onclick="RecorrerTabla()">
                                Aceptar
                            </button>
                        </div>
                        <div class="pure-u-1-5">
                            
                        </div>
                        <div class="pure-u-1-5">
                            
                        </div>
                        <div class="pure-u-1-5">
                            
                        </div>
                        <div class="pure-u-1-5">
                            <button type="button" class="pure-button pure-button-default" onclick="IrListadoOperacion()">
                                Cancelar
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
        <div class="pure-u-1-3"></div>
    </div>

    {% endblock %}

    {% block customjs %}
        <script>

            $(document).ready(function () {
            });


            $("#txtCantidad").keypress(function(event){
                if ( event.which == 13 ) {                    
                    var codigomaterial = $("#txtCodigoBarra").val();
                    ConsultaMaterial(codigomaterial);
                }
            })


            $("#txtCodigoBarra").keypress(function(event){
                if ( event.which == 13 ) {                    
                    var codigomaterial = $("#txtCodigoBarra").val();
                    ConsultaMaterial(codigomaterial);
                }
            })


            function IrListadoOperacion() {
                window.location.replace("/operacionlistado");
            }


            function ConsultaMaterial(codigo){
                var cantidad = $("#txtCantidad").val();

                if(cantidad==0){
                    cantidad = 1
                }

                data = {
                    "codigobarra": codigo,
                    "cantidad": parseFloat(cantidad)
                }
                $.getJSON("/ajaxconsultamaterial", data,
                    function (data, textStatus, jqXHR) {
                        if(data.error==1){
                            alert("Esa mercaderia no posee stock definido")
                        }else{
                            var contenido = "";
                            contenido = "<tr id='mat" + data.materialid  + "'>";
                            contenido = contenido + "<td id='" + data.materialid + "'>"+ data.material +"</td>";
                            contenido = contenido + "<td>" + data.unidad + "</td>";
                            contenido = contenido + "<td>" + data.cantidad + "</td>";
                            contenido = contenido + "<td>" + parseFloat(data.precio) + "</td>";
                            contenido = contenido + "<td>" + parseFloat(data.subtotal) + "</td>";
                            contenido = contenido + "<td><button type='button' onclick='QuitarFila(" + data.materialid + ")'>Quitar</button></td>"
                            contenido = contenido + "</tr>";
                            $("#tblOperacion tbody").append(contenido);
                        }
                    }
                );
            }


            function RecorrerTabla(){
                var celda = 0;
                var vectormateriales = new Array();
                var vectorunidades = new Array();
                var vectorcantidades = new Array();

                $("td").each(function(){
                    if(celda==0){
                        vectormateriales.push($(this)[0].id);
                    }
                    if(celda==1){
                        vectorunidades.push($(this).text());
                    }
                    if(celda==2){
                        vectorcantidades.push($(this).text());
                    }

                    celda = celda + 1;

                    if($(this).text()=="Quitar"){
                        celda = 0
                    }

                });

                var mensaje = confirm("Desea registrar la operacion?")

                if(mensaje==true){

                    $.ajax({
                        type: "POST",
                        url: "/ajaxgrabaroperacion/",
                        data: {
                            "vectormateriales": vectormateriales,
                            "vectorunidades": vectorcantidades,
                            "vectorcantidades": vectorcantidades,                            
                        },
                        success: function (response) {
                            if(response.status==200){
                                alert("Se ha grabado la orden");
                                window.location.replace("/listadoorden")
                            }else{
                                alert("Ha ocurrido un error");
                            }
                        }
                    });


                }


                

                

                console.log(vectormateriales);
                console.log(vectorcantidades);
                console.log(vectorunidades);
            }


            function QuitarFila(id){
                var fila = document.getElementById(id);
                $("#mat" + fila.id + "").remove();
            }

        </script>

    {% endblock %}

