{% extends 'base.html' %}

{% block content %}

    <div class="pure-g">
        <div class="pure-u-1-3"></div>
        <div class="pure-u-1-3">
            <h3>
                Nueva Operacion
            </h3>

            <input type="number" id="txtCantidad" name="txtCantidad" placeholder="Cantidad">

            <input type="text" id="txtMaterial" placeholder="Material" onkeypress="BuscaMaterial(event)" >

            <form class="pure-form pure-form-aligned">

                <table class="pure-table pure-table-striped" id="tablaOperacion" name="tablaOperacion" >
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Marca Comercial</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>SubTotal</th>
                            <th>Quitar</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <fieldset>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Aceptar</button>
                        &nbsp; &nbsp; &nbsp;
                        <button type="button" class="pure-button" onclick="IrListadoMaterial()">Cancelar</button>
                    </div>
                </fieldset>                
            </form>
        </div>
        <div class="pure-u-1-3"></div>
    </div>

    {% block customjs %}

        <script>

            $(document).ready(function () {
                $("#id_material").select2();
            });
            
            function IrListadoMaterial() {
                window.location.replace("/materialeslistado");
            }

            function BuscaMaterial(e){
                var codigo = $("#txtMaterial").val();
                var cantidad = $("#txtCantidad").val();
                //var cantidad = document.getElementById("txtCantidad").value;

                if(cantidad == ""){
                    cantidad = 1;
                }

                if(e.keyCode === 13){
                    e.preventDefault(); // Ensure it is only this code that runs

                    var data = new Object();

                    $.ajax({
                        type: "GET",
                        url: "/ajaxmaterial/",
                        data: {
                            "codigo": codigo,
                            "cantidad": cantidad
                        }, 
                        success: function (data) {
                            //console.log(data.precio);
                            //AgregarElementoTabla(data);
                            window.location = "/operacioneditar/" + data.pk;
                        }
                    });
                }
            }

            function AgregarElementoTabla(data){
                

                var subtotal = cantidad * data.precio;
   
                var contenidofila = "<tr id=" + data.pk + "><td>" + data.material + "</td>";
                contenidofila = contenidofila + "<td>" + data.marcacomercial + "</td>";
                contenidofila = contenidofila + "<td>" + cantidad + "</td>";
                contenidofila = contenidofila + "<td>" + data.precio + "</td>";
                contenidofila = contenidofila + "<td>" + subtotal.toFixed(2) + "</td>";
                contenidofila = contenidofila + "<td><button id='bt" + data.pk + "type='button' onclick='QuitarFila("+ data.pk +")'>Quitar</button></td></tr>"; 
                $("#tablaOperacion tbody").append(contenidofila);

            }

            function QuitarFila(){
                button.addEventListener('click', function() {
                    alert("QQQ");
                }, false);
            }
            
        </script>

    {% endblock %}

{% endblock %}