
{% extends 'base.html' %}

{% block content %}

    <style>
        html, body {
        height: 100%;
        }
        
        img.one {
        height: auto;
        width: auto;
        }
        
        img.two {
        height: 40%;
        width: 40%;
        }

        .cTable td{
            text-align:center;
        }


    </style>

    <h3>
        Listado de Materiales
    </h3>

    <input id="txtBuscar" name="txtBuscar">
    <button>Buscar</button>

    <br>
    <br>
    <br>

    <table class="cTable">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Marca Comercial</th>
                <th>Codigo Barra</th>
                <th>Imagen Codigo Barra</th>
            </tr>

        </thead>
            {% for resultado in resultados %}
                <tr>
                    <td>{{resultado.descripcion }}</td>
                    <td>{{resultado.marca_comercial}}</td>
                    <td>{{resultado.codigo_barra}}</td>
                    <td>
                        <img class="two" src="{{resultado.codigo_barra_imagen.url}}">
                    </td>
                    
                </tr>
            {% endfor %}
        <tbody>

        </tbody>
    </table>

    

    
        
{% endblock %}
