
{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>PRESTACION POR NUCLEADORES</h3>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <hr>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <form action="/nucleadorprestacionlistado" method="GET">
            <div class="form-inline">
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <input class="form-control" id="txtBuscar" name="txtBuscar" placeholder="Buscar....">
                    <button type="submit" class="btn btn-default" title="Buscar!">
                        <i class="fas fa-search"></i>
                    </button>

                    <button type="button" class="btn btn-default" title="Agregar Obra Social!" onclick="location.href='/nucleadorprestacionnuevo'">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <br>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nucleador</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Obra Social</th>
                        <th>Importe</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    {% for resultado in resultados %}
                    <tr>
                        <td>{{resultado.nucleador.descripcion.upper }}</td>
                        <td>{{resultado.prestacion.codigo }}</td>
                        <td>{{resultado.prestacion.descripcion.upper }}</td>
                        <td>{{resultado.obrasocial.descripcion.upper }} - {{resultado.obrasocial.abreviatura.upper }}  </td>
                        <td>$ {{resultado.importe }}</td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm" onclick="location.href='/nucleadorprestacioneditar/' + {{ resultado.pk }}">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if resultados.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">
                                <i class="fas fa-chevron-circle-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ resultados.previous_page_number }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>

                    {% endif %}

                    <li class="page-item disabled">
                        <a class="page-link">
                            Pag. {{ resultados.number }} de {{ resultados.paginator.num_pages }}
                        </a>
                    </li>

                    {% if resultados.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ resultados.next_page_number }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ resultados.paginator.num_pages }}">
                                <i class="fas fa-chevron-circle-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </form>

    </div>

{% endblock %}
