{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/pure-min.css'%}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css'%}">

    <script src="{% static 'js/jquery-3.5.1.min.js'%}"></script>
    <script src="{% static 'js/select2.min.js'%}"></script>

    


  </head>

  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Marca Comercial</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="/marcacomerciallistado" class="pure-menu-link">Buscar</a>
                </li>
            </ul>
        </li>

        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="menuLink2" class="pure-menu-link">Material</a>
          <ul class="pure-menu-children">
              <li class="pure-menu-item">
                  <a href="/materialeslistado" class="pure-menu-link">Buscar</a>
              </li>
          </ul>
        </li>

        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="menuLink3" class="pure-menu-link">Stock</a>
          <ul class="pure-menu-children">
              <li class="pure-menu-item">
                  <a href="/stocklistado" class="pure-menu-link">Buscar</a>
              </li>
          </ul>
        </li>

    </ul>
  </div>

  <body>
    {% block content %}
    {% endblock %}
  </body>

  {% block customjs %}
  {% endblock %}


</html>
